@import url('../../assets/temas.css');

.Login-section {
    width: 100vw;
    height: calc(100vh - 80px);
    background-image: url('../../assets/images/Login-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.Login-pelicula {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 400px rgba(0,0,0,0.9) inset;
}

.Login-titulo {
    width: 300px;
    text-align: center;
    border-bottom: 2px solid #B78865;
    margin-bottom: 32px;
}

.Login-titulo h1 {
    color: #fff;
    text-transform: uppercase;
}

.Login-form {
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    flex-direction: column;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .9);
    padding: 16px;
}

.Login-form label {
    width: 300px;
}

.Login-form input {
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    width: 300px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 16px;
    height: 2rem;
    border-radius: 5px;
    border: none;
}

.Login-esqueci-senha-div {
    /* background-color: deepskyblue; */
    display: flex;
    justify-content: end;
    width: 300px;
    margin: 0;
}

.Login-form a {
    margin: 0;
    font-size: .8rem;
    font-weight: 200;
    /* border: 1px dashed deeppink; */
}

.Login-form button {
    width: 300px;
    height: 2.5rem;
    margin-top: 24px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #00c943;
    font-size: 1.1rem;
    text-shadow: var(--sombra-texto);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

.Login-form a:hover {
    text-decoration: underline;
}

.Login-errado {
    color: red;
    font-size: .8rem;
    font-weight: 400;
    /* background-color: aquamarine; */
    text-align: center;
}

@media (max-width: 768px) {
    .Login-section {
        background-image: url('../../assets/images/Login-background-p.jpg');

    }

    .Login-pelicula {
        padding: 16px;
    }

    .Login-form {
        width: 100%;
    }

    .Login-titulo {
        font-size: 1rem;
    }

    .Login-form input, .Login-form button, .Login-form label, .Login-titulo, .Login-esqueci-senha-div {
        width: 250px;
    }
}