.AgendaBarbeiro-section {
    max-width: 1200px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.AgendaBarbeiro-h1 {
    height: 54px;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 70px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 22pt;
    text-transform: uppercase;
    border-bottom: 2px solid #B78865;
}

.AgendaBarbeiro-input-data {
    width: auto;
    height: auto;
    font-size: 2rem;
    margin-top: 32px;
    color: #515151;
}

.AgendaBarbeiro-select {
    color: #515151;
    font-size: 2rem;
    margin-top: 32px;
}