@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.AgendaBarbeiro-section {
    max-width: 1200px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.AgendaBarbeiro-h1 {
    height: 54px;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 70px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 22pt;
    text-transform: uppercase;
    border-bottom: 2px solid #B78865;
}

.AgendaBarbeiro-input-data {
    width: auto;
    height: auto;
    font-size: 2rem;
    margin-top: 32px;
    color: #515151;
}

.AgendaBarbeiro-select {
    color: #515151;
    font-size: 2rem;
    margin-top: 32px;
}

.AgendaBarbeiro-pelicula-maisdetalhes {
    position: fixed;
    display: flex;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.AgendaBarbeiro-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 16px;
    padding-bottom: 54px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

.AgendaBarbeiro-wrap-fechar-modal {
    width: 100%;
    display: flex;
    justify-content: end;
}

.AgendaBarbeiro-fechar-modal {
    width: 32px;
    height: 32px;
    color: #fff;
    background-color: #B78865;
    border: none;
    border-radius: 50%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.AgendaBarbeiro-modal h1 {
    width: 90%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #B78865;
    margin-top: 8px;
}

.AgendaBarbeiro-wrap-modal-content {
    color: #515151;
    margin-top: 32px;
    font-size: 1.2rem;
}

.AgendaBarbeiro-wrap-modal-content p {
    margin-top: 8px;
}

.AgendaBarbeiro-span-bold {
    font-weight: 600;
}

.AgendaBarbeiro-btn-cancelar-agendamento {
    background-color: #B78865;
    border: none;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding: 8px 16px;
    text-transform: uppercase;
    margin-top: 32px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.AgendaBarbeiro-cancelar-content {
    margin: 32px 0;
    font-size: 1.2rem;
    color: #515151;
    text-align: center;
}

.AgendaBarbeiro-btn-cancelar {
    width: 80px;
    padding: 8px 16px;
    font-size: 1rem;
    border: 2px solid #B78865;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    margin: 0 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    color: #B78865;
}

#btn-cancelar {
    background-color: rgb(230, 66, 66);
    border: none;
    color: #fff;
}

.AgendaBarbeiro-a {
    color: #515151;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .AgendaBarbeiro-section {
        width: 100%;
    }
    
    .AgendaBarbeiro-h1 {
        width: 90%;
        height: auto;
        font-size: 1.5rem;
        justify-content: center;

    }

    .AgendaBarbeiro-modal {
     width: 90%;
    }

    .AgendaBarbeiro-modal h1 {
        font-size: 1.6rem;
    }

    .AgendaBarbeiro-input-data, .AgendaBarbeiro-select {
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .AgendaBarbeiro-wrap-modal-content {
        font-size: 1rem;
    }

    .AgendaBarbeiro-h1 {
        height: auto;
        font-size: 1.2rem;
        text-align: center;
    }

    .AgendaBarbeiro-modal h1 {
        text-align: center;
    }

    .AgendaBarbeiro-input-data, .AgendaBarbeiro-select {
        font-size: 1rem;
    }
}